In [125]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [126]:
df = pd.read_csv('first_1000.csv')

In [127]:
df.head()

   Unnamed: 0                                               text  label_sexist
0           0  In Nigeria, if you rape a woman, the men rape ...         False
1           1                            Then, she's a keeper. ðŸ˜‰         False
2           2  This is like the Metallica video where the poo...         False
3           3                                             woman?         False
4           4                     I bet she wished she had a gun         False

In [128]:
train = list(df['text'])
# # train
# train = ['The sky is blue.','The sun is bright.']

In [129]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/louys/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [130]:
stemmer = PorterStemmer()

def preprocess_text(text):
    # print("Original Text:", text)  # Print the original text
    tokens = word_tokenize(text)
    # print("Tokenized Text:", tokens)  # Print the tokenized text
    tokens = [word for word in tokens if word.isalnum()]
    # print("Alphanumeric Tokens:", tokens)  # Print tokens containing only alphanumeric characters
    tokens = [word.lower() for word in tokens]
    # print("Lowercased Tokens:", tokens)  # Print lowercase tokens
    filtered_tokens = [word for word in tokens]
    # print("Filtered Tokens:", filtered_tokens)  # Print filtered tokens
    stemmed_tokens = [stemmer.stem(word) for word in filtered_tokens]
    # print("Stemmed Tokens:", stemmed_tokens)  # Print stemmed tokens
    return " ".join(stemmed_tokens)

# Apply the preprocessing function to a single row in the 'text' column

train_new = [preprocess_text(text) for text in train]

In [132]:
tfidfvectorizer1 = TfidfVectorizer(analyzer='word', stop_words= 'english')
tfidfvectorizer2 = TfidfVectorizer(analyzer='word', stop_words= 'english')

In [133]:
tfidf_wm = tfidfvectorizer1.fit_transform(train)

In [134]:
tfidf_wm_new = tfidfvectorizer2.fit_transform(train_new)

In [135]:
tfidf_tokens = tfidfvectorizer1.get_feature_names_out()
tfidf_tokens_new = tfidfvectorizer2.get_feature_names_out()

In [137]:
df_tfidfvect1 = pd.DataFrame(data = tfidf_wm.todense(),columns = tfidf_tokens)
df_tfidfvect2 = pd.DataFrame(data = tfidf_wm_new.todense(),columns = tfidf_tokens_new)

In [138]:
df_tfidfvect1.head()

,00,000,04,05,06,0f806a,10,100,1000,105,...,yup,zen,zero,zima,zionist,ziowhore,zir,zombie,zombiefied,Â¹assuming
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
df_tfidfvect2.head()

,0f806a,10,100,1000,105,10k,11,115,12,13,...,yr,yup,zen,zero,zima,zionist,ziowhor,zombi,zombiefi,Â¹assum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0